config.stopbubbling=true
lombok.data.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.value.flagUsage=error
lombok.log.apacheCommons.flagUsage=error
lombok.log.fieldname=logger
lombok.log.javaUtilLogging.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.experimental.flagUsage=error