/* header */
header {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: $color-primary;
  }

  &.no-line::after {
    display: none;
  }

  .hd-ttl {
    min-height: 5.8rem;
    text-align: left;
    line-height: 5.8rem;
    font-size: 1.6rem;
    padding: 0 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-hd {
    position: absolute;
    bottom: 1rem;
    width: 3.8rem;
    height: 3.8rem;

    &.back {
      left: 1rem;
      @include bg(title-back);
    }
    &.close {
      right: 1rem;
      @include bg(title-close);
    }
  }
}

.pg-main {
  .header-wrap {
    background-image: linear-gradient(124deg, #6892e7, #5782e1);
    border-end-end-radius: 6.4rem;
  }
  .user-info {
    padding: 1rem 2rem 2.4rem;
    .user {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 1.3rem;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($color: $color-black, $alpha: 0.1);
        border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.2);
      }

      .name {
        line-height: 2.6rem;
        color: $color-white;
        font-size: 2rem;
      }
      .lb-txt {
        margin-left: 1rem;
      }
    }

    &-list {
      margin-top: 1.4rem;

      > li {
        padding-left: 9.1rem;
        text-indent: -9.1rem;
        font-size: 1.6rem;
        color: $color-black-txt;
        word-break: break-all;

        .ic-ttl {
          font-size: inherit;
        }

        + li {
          margin-top: 1rem;
        }
      }
    }

    &-txt {
      margin-top: 2rem;
      padding: 0.8rem 1rem;
      text-align: center;
      font-size: 1.5rem;
      color: $color-white;
      background-color: rgba($color: $color-black, $alpha: 0.4);
      border-radius: 1.6rem;
      line-height: 1;
    }
  }

  header {
    &::after {
      display: none;
    }

    .hd-ttl {
      color: #fff;
      padding-left: 2rem;
      padding-right: 15.4rem;
    }
    .btn-hd {
      &.bluetooth {
        right: 10.6rem;
        @include bg(title-bluetooth);
      }
      &.alarm {
        right: 5.8rem;
        @include bg(title-alarm);

        &.new::after {
          content: '';
          position: absolute;
          top: 0.2rem;
          right: 0.6rem;
          width: 0.6rem;
          height: 0.6rem;
          background-color: #ec3325;
          border-radius: 50%;
          display: block;
        }
      }
      &.customer {
        right: 1rem;
        @include bg(title-customer);
      }
    }
  }
}

@include mq('tablet-small') {
  .pg-main {
    .user-info {
      padding: 2rem 3rem 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      &-data {
        flex: 1;
        width: 100%;
      }
      .user {
        border-bottom: 0;

        &::after {
          display: none;
        }
      }

      &-list {
        margin-top: 0;
        font-size: 0;

        > li {
          display: inline-block;
          vertical-align: baseline;
          margin-right: 2rem;
          line-height: 1.43;

          & + li {
            margin-top: 0;
          }
        }
      }

      &-txt {
        position: relative;
        margin: 0 2rem 0 6rem;
        width: 33.2rem;

        &::before {
          content: '';
          position: absolute;
          left: -4rem;
          @include yCenter;
          width: 1px;
          height: 4.4rem;
          background-color: rgba($color: $color-black, $alpha: 0.1);
          border-right: 1px solid rgba($color: $color-white, $alpha: 0.2);
        }
      }
    }
  }
}
