{
  "debugMode": false,
  "security": false,
  "logging": "log",
  "fileLogging": false,
  "masterOrientation": 9,
  "defaultOrientation": 5,
  "defaultVersion": "",
  "startPage": "",
  "startPageMode": "",
  "introPage": "",
  "extendWNInterface": "",
  "networkSetting": "",
  "displayStackInfo": false,
  "langJS": "",
  "screenSwitchingIndicator": false,
  "errorPage": "",
  "updateServerName": "",
  "updateServerTRCode": "",
  "updateMode": 2,
  "systemLanguage": "",
  "path": {},
  "defaults": {
    "fullscreen": false,
    "device": {
      "type": "Apple iPhone",
      "orientation": "portrait",
      "size": {
        "width": 360,
        "height": 480
      }
    }
  },
  "project": {
    "id": "",
    "name": "",
    "license": "",
    "manifestVersion": "2.0",
    "manifestEncode": false,
    "manifest": {}
  }
}