
$color-primary: #638de5;
$color-primary-txt:#6791e6;
$color-secondary: #01263a;
$color-white: #fff;
$color-black: #000;
$color-black-txt: #1a253c;

$color-blue: #5c87e2;
$color-red: #ff4a4a;
$color-green: #47b369;

$color-gray-light01: #f6f6f6;
$color-gray-light02: #f8f8f8;
$color-gray-light03:#e5e5e5;
$color-gray-txt01: #999;
$color-gray-txt02: #777;
$color-gray-disabled:#aeaeae;

$color-gray-line:#efefef;